body {
    background: rgb(32, 145, 145);
}

/* #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgb(49, 218, 218);
} */

.navbar {
    background-color: rgb(32, 32, 32);
    color: #fff;
}


.navbar-dark .navbar-brand{
    color: rgb(49, 218, 218);
}

.text-uppercase {
    text-transform: uppercase!important;
}

.navbar-brand{
    color: rgb(49, 218, 218);
}

.nav-item{
    display: flex-inline;
    font-size: 14px;
}

.nav-link{
    color: #fff;
    font-size: 14px;
}

.nav-name{
    display: inline;
}

.navbarContainer{
    width: 100%;
}

.navbar-dark .navbar-toggler {
    color: rgb(49, 218, 218);;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-color: #fcbc1d;
}

#longNav{
    background-color: rgb(32, 32, 32);
    color: #fff;
    height: auto;
}


#smallemptyspace{
    height: 20px;
}

#emptyspace {
    height: 40px;
}

#bigemptyspace{
    height: 100px;
}

.page-container {
    width: 100%;
    height: auto;
}

#profilePicContainer {
    background: url(countrynight.jpg);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

.blueColor{
    color: rgb(49, 218, 218);
}

.blueColor2{
    color: rgb(162, 214, 214);
}

.purpleColor{
  color: #87bbfe;
}

.img-circle {
    margin: auto;
    border-radius: 50%;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

#header1 {
    font-size: 3em;
    color: white;
    text-align: center;
}

.centerit{
    text-align: center;
}

#header2 {
    font-size: 2em;
    color: white;
    text-align: center;
    font-weight: 300;
}

#medialinks {
    display: flex;
  align-items: center;
  justify-content: center;
}

#contactButton{
    padding-right: 2em;
    padding-left: 2em;
    padding-top: .8em;
    padding-bottom: .8em;
    font-size: 1.2em;
    color: black;
    background-color: rgb(255, 247, 199);
    border-color: black;
    border-width: 2px;
}

#biography {
    background-color: rgb(20, 20, 20);
}

.whitetext {
    color: white;
    font-size: 1.2em;

}

h4 {
    color: black;
    font-style: oblique;
}

h5 {
    color: rgb(44, 42, 42);
}

#skillsTitle {
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    color: white;
}

.skillName{
    color: rgb(162, 214, 214);
}

.skillsbio {
    text-align: center;
    font-size: 1.2em;
}

#skillContainer {
    display: flex;
    flex-wrap: wrap;
}

.skilldesc {
    text-align: center;
}

#workexperience{
    background-color: rgb(20, 20, 20);
}

#workexpTitle{
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    color: white;
}

#projects {

}

.projectContainer{
    margin: 0 20px;
}

.projectBox {
    align-items: center;
    align-content: center;
    text-align: center;
    width: 33%;
    margin-bottom: 20px;
}

.projectImage{
    /* make sure to use images of dimension */
    margin-bottom: 15px;
}

.errorText{
    color: red;
}

.columns{
    position: relative;
    padding: 0 20px;
    float: left;
}

#projectsTitle {
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    color: white;
}

.projectsbio {
    text-align: center;
    font-size: 1.2em;
    color: white;
}

#geneticAlgorithm {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    top: 0;
    bottom: 0;
    z-index: 1;
    justify-content: center;
}

.caption {
    color: #fff;
    margin: auto 2rem 2rem;
    text-shadow: 0px 0px 20px #000000;
}

#projectModal {}

.modalText {
    text-align: center;
}

#projectVideo {
    width: 100%;
    height: 500px;
}

.githublink {
    margin-top: 5px;
    font-weight: 500;
}

.exitmodal {
    justify-content: right;
}

.service-icon {
    background-color: rgb(224, 224, 28);
    color: #2988bc;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
    text-align: center;
}

.icon {
    display: inline-block;
    font-size: 1.5em;
    color: rgb(54, 54, 32);
    text-align: center;
}

.shorttext{
    display: none;
    color: rgb(54, 54, 32);
}

#contact{
    background-image: url(malibu2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contactTitle{
    font-size: 3.3em;
    text-align: center;
    color: gold;
}

.contactInfo{
    font-size: 2em;
    text-align: center;
    color: gold;
}


@media(max-width: 500px) {
    .fulltext{
        display: none;
        color: rgb(54, 54, 32);
        text-align: center;
    }
    .shorttext{
        display: inline;
        color: rgb(54, 54, 32);
        text-align: center;
    }
}

@media(max-width: 1000px){
    .projectBox{
        width: 100%;
    }
    .columns{
        float: none;
    }
    .projectImage{
        padding-top: 0;
    }
    .shortmenu{
        display: flex;
    }
    .nav-wrap{
        display: none;
    }
}

@media(min-width: 800px){
    .hi{
        width: 9em;
    }
}

/* work experience timeline */

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 14px;
  }
  
  h2 {
    margin: 5%;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
  }

  .timelineDate1{
    color: #87bbfe;
    font-size: 1.5rem;
    margin-bottom: 0;
    position: relative;
    display: flex;
    font-weight: 600;
    align-self: center;
    width: calc(80vw);
}

.timelineDate2{
    color: #87bbfe;
    font-size: 1.5rem;
    margin-bottom: 0;
    position: relative;
    display: flex;
    font-weight: 600;
    align-self: center;
    transform: translate(calc(40vw - 106px));
}

  .timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    margin-top: 0;
    position: relative;
  }
  .timeline__event {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    margin-top: 0;
    border-radius: 6px;
    align-self: center;
    width: 80vw;
  }
  .timeline__event:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__content {
    border-radius: 6px 0 0 6px;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: rgb(49, 218, 218);
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-animation: fillTop 2s forwards 4s ease-in-out;
            animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: rgb(49, 218, 218);
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
            animation: fillLeft 2s forwards 4s ease-in-out;
  }
  .timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: #555ac0;
    letter-spacing: 1.5px;
  }
  .timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #272f35;
    width: calc(80vw - 84px);
    border-radius: 0 6px 6px 0;
  }
  .timeline__event__date {
    color: #87bbfe;
    font-size: 1.5rem;
    font-weight: 600;
    background: #555ac0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
  }
  .timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9251ac;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    
    background: #87bbfe;
    border-radius: 100%;
    max-width: 15%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 10px;
    height: auto;
    position: relative;
  }
  .timeline__event__iconunknown {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9251ac;
    padding: 20px;
    align-self: center;
    margin: 0 20px;
    
    background: #87bbfe;
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 10px;
    height: 40px;
    position: relative;
  }
  .timeline__event__icon i {
    font-size: 32px;
  }
  .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: rgb(49, 218, 218);
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: fillTop 2s forwards 4s ease-in-out;
            animation: fillTop 2s forwards 4s ease-in-out;
  }
  .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: rgb(49, 218, 218);
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: fillLeftOdd 2s forwards 4s ease-in-out;
            animation: fillLeftOdd 2s forwards 4s ease-in-out;
  }
  .timeline__event__description {
    color: white;
    flex-basis: 60%;
  }
  .timeline__event--type2:after {
    background: #555ac0;
  }
  .timeline__event--type2 .timeline__event__date {
    color: #87bbfe;
    background: #555ac0;
  }
  .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__icon {
    background: #87bbfe;
    color: #555ac0;
  }
  .timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
    background: #87bbfe;
  }
  .timeline__event--type2 .timeline__event__title {
    color: #555ac0;
  }
  .timeline__event--type3:after {
    background: #24b47e;
  }
  .timeline__event--type3 .timeline__event__date {
    color: #aff1b6;
    background-color: #24b47e;
  }
  .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:after {
    background: #aff1b6;
  }
  .timeline__event--type3 .timeline__event__icon {
    background: #aff1b6;
    color: #24b47e;
  }
  .timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
    background: #aff1b6;
  }
  .timeline__event--type3 .timeline__event__title {
    color: #24b47e;
  }
  .timeline__event:last-child .timeline__event__icon:before {
    content: none;
  }
  
  @media (max-width: 786px) {
    .timeline__event {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event__content {
      width: 100%;
    }
    .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      max-width: 100%;
      margin: 0;
      box-shadow: none;
    }
    .timeline__event__icon:before, .timeline__event__icon:after {
      display: none;
    }
    .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n+1) {
      flex-direction: column;
      align-self: center;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }
    .timeline__event:nth-child(2n+1) .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      margin: 0;
    }
  }
  @-webkit-keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @keyframes fillLeft {
    100% {
      right: 100%;
    }
  }
  @-webkit-keyframes fillTop {
    100% {
      top: 100%;
    }
  }
  @keyframes fillTop {
    100% {
      top: 100%;
    }
  }
  @-webkit-keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }
  @keyframes fillLeftOdd {
    100% {
      left: 100%;
    }
  }

  .interpreterListHolder{
    width: 500px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .interpreterList{
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  .interpreterProcessBox{
    width: fit-content;
    height: fit-content;
  }

  .interpreterProcess{
    max-width: 100%;
    max-height: 100%;
  }

  .projectBoxDate{
  }
